@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-color{
    background-color:rgba(255, 144, 14, 0.1) ;
}
.display-flex{
    display:flex;
}
.nav-bar{
    justify-content:space-between;
    align-items:center;
}
.dark-1{
    color:#131313;
}
.dark-2{
    color:#424242;
}
.dark-3{
    color:#727272;
}
.header-style{
    margin:20px 150px;
}
.btn-primary{
    color:white;
    border:none;
    font-size: 1.25rem;
    border-radius:8px;
    padding:20px 25px;
    background-color:rgba(255, 144, 14, 1);
}
.nav-links{

}
.tittle-name{
    font-weight: bold;
    font-size:3rem;
}
.nav-items{
    list-style: none;
  margin-right:30px;
}
.nav-link{
    text-decoration:none;
    font-weight:500;
}
.nav-bar,.banner{
    max-width:1440px;
    margin:0 auto;
}
.banner-tittle{
    font-weight:bold;
    font-size:4rem;
    color:#131313;
}
.banner-content{
    max-width:862px;
    margin:0 auto;
    text-align: center;
    margin-bottom:50px;
}
.banner-contents{
    font-size:1.25rem;
}
.banner-img{
   width:100%;
}
main{
    max-width:1440px;
    margin:0 auto;
}
main > section{
    margin-top:130px;
}
.teams{
   align-items:center;
}
.team-img-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:24px;

}
.our-feature{
    margin-left:130px;
    max-width:530px;
}
#feature1{
    font-weight:500;
    font-size:3rem;
}
#feature2{
    font-weight:bold;
    font-size:3rem;
}
#feature3{
    font-size:3rem;
    font-weight:bold;
    color:orange;
}
.fact-tittle{
    font-size:1rem;
    font-weight:400;
    max-width:540px;
}
.facts-container{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
}
.fact-card{
    border:1px solid #FF900E;
    border-radius:8px;
    height:241px;
    width:241px;
    text-align:center;
    align-items:center;
    justify-content:center;
}
.fact-number{
    font-weight:600;
    font-size:45px;
   color:#424242;
   margin-top:5px;
   margin-bottom:10px;
}
.fact-name{
    font-size:20px;
    font-weight:600;
    color:#727272;
    margin-top:10px;
}
.sponsorinfo{
    max-width:540px;
    text-align:center;
    margin:50px auto;
    align-items:center;
}
.sponsor-img>img{
    filter: grayscale();
}
.sponsor-img{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    margin-left:50px;
}
/* Responsive */
@media screen and (max-width:576px)
{
    .nav-bar,
    .nav-links,
    .teams
    {
        flex-direction:column;
    }
    .nav-items{
        margin-bottom:10px;
    }
   .header-style{
    margin:0 auto;
   }
   .team-img-container{
    grid-template-columns:repeat(1,1fr);
   
   }
    .our-feature{
       margin-left:20px; 
    }
    .facts-container{
        grid-template-columns:repeat(1,1fr);
        gap:24px;
        justify-items:center;
       
    }
    .sponsor-img{
        grid-template-columns:repeat(1,1fr);
        gap:30px;
        justify-items:center;
       margin-left:15px;
    }

}
/* medium size device */
@media  screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction:column;
    }
    .our-feature{
        margin:50px auto;
    }
}
